<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta content="物联网，科技，贝美，贝美互动，FUN-IOT，Bemetoy，Beme Cloud" name="Keywords">
<meta name="description" content="贝美互动娱乐物联网第一平台是业界首个企业级Fun-IOT技术平台，由贝美自主研发IOT专属1个架构4大组建，敏捷、安全、高效、稳定完成连接与设备的数字化。通过物联网、人工智能技术打造全新的互动场景，连接设备、人、内容与服务。" />

<script type="text/javascript">
if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){  
  if(window.location.href.indexOf("?mobile")<0){
        try{
            if(/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){
                window.location.href="./mobile/";
            }
        }catch(e){}
    }
}

var _domReady = [];
</script>

<link rel="stylesheet" type="text/css" href="/m2/act/office/static/css/style.css?t=1001">