<div class="nav-box mbox clearfix">
    <h1 class="logo left"><a class="bk" href="/m2/act/office/">贝美官网</a></h1>
	<div class="login right" >
        <a class="bk left do_login" href="javascript:void(0);">登录</a>
        <i class="line left"></i>
        <a class="bk left" href="/m2/act/office/register.html">注册</a>
    </div>
    <ul class="menu-list right clearfix" id="J_navlist">
        <li><a class="bk" action="funiot" href="/m2/act/office/funiot.html">贝美FUN-IOT</a></li>
        <li><a class="bk" action="scene" href="/m2/act/office/scene.html">应用场景</a></li>
        <li><a class="bk" action="service" href="/m2/act/office/service.html">服务能力</a></li>
        <li><a class="bk" action="developer" href="/m2/act/office/opendoc.html">开发者中心</a></li>
        <li><a class="bk" action="aboutus" subnav="aboutus" href="javascript:void(0);">关于贝美</a></li>
        <li class="line"></li>
    </ul>
    
    <ul class="subnav" action="aboutus">
        <li><a class="bk" href="/m2/act/office/news/news-list-1.html">新闻动态</a></li>
        <li><a class="bk" href="/m2/act/office/contact.html">联系方式</a></li>
    </ul>
</div>

