<html>
<head>
</head>
<body>

<article class="comm-page albuminfo-page main-page">
    <div class="album-box" id="J_album-box">
        <div class="img-box">
            <img imgsrc="" src="./static/images/moren04.jpg" alt="" class="img-cover">
            <div class="in-box">
                <div class="tag left" id="num"></div>
            </div>
        </div>

        <div class="info-box">
            <div class="title"></div>
            <ul class="tags"></ul>
            <div class="desc" id="J_album-desc"></div>
			<a class="item-a share right"  href="javascript:void(0);" >分享</a>
            <a class="item-a favorites right" href="javascript:void(0);" ><span id="content">收藏</span>&nbsp;<span id="collection_num"></span></a>
			
        </div>
    </div>

    <div class="caction-box" id="old_box">
        <a class="item-a play-btn left" href="javascript:void(0);" value="0" >点播全部</a>
        <div class="desc left">(共<span id="J_songnum">-</span>首)</div>
        <a class="item-a option-btn right" href="javascript:void(0);" id ="play_edit" ></a>
    </div>
	
	<div class="caction-box" id="new_box">
        <a class="left new-select" href="javascript:void(0);" value="0" id ="play_edit_new" >多选</a>
        <div class="desc left">(共<span id="J_songnum">-</span>首)</div>
        <a class="right" href="javascript:void(0);">推送给玩具</a>
    </div>

    <div class="select-all" id="old_select">
        <a class="left" href="javascript:void(0);" value="0"><img src="./static/images/xuanzekong.png"></a>
        <a class="title">全选</a>
        <a class="right content" href="javascript:void(0);" id="cancel">取消</a>
        <a class="right content_add"  href="javascript:void(0);" id="add">加入歌单</a>
    </div>

	<div class="select-all" id="new_select">
        <a class="left" href="javascript:void(0);" value="0"><img src="./static/images/xuanzekong.png"></a>
        <a class="title">全选</a>
		<a class="cancel" href="javascript:void(0);" id="cancel">取消</a>
		<a class="right push_new push_no"  href="javascript:void(0);" id="push" >推送</a>
		<a class="right add_new add_no"  href="javascript:void(0);" id="add">加入歌单</a>
    </div>
	
    <ul class="song-box" id="J_song-box"></ul>
	
	<div id="album_list" style="display:none;">
        <div class="album_list_name">推荐专辑</div>
        <ul class="album-box content-item" id="J_album-list"></ul>
    </div>

</article>

<!-- 这里是模板 -->
<script type="text/template" id="J_temp-item">
    <% $.each(list, function(i, item){ %>
    <li class="item" sid="<%=item.id %>" md5="<%=item.md5 %>"  url="<%=item.url %>" tag="album" tagval="<%=item.tagval %>"  size="<%=item.filesize %>" type="<%=item.type %>" >
        <a class="item-a" href="javascript:void(0);">
			<span class="checkbox" value = '0'><img src="./static/images/xuanzekong.png"></span>
            <div class="title text-over"><%=item.name %></div>
            <div class="desc"><%=BEME.func.formatTime(item.song_time) %></div>
			 <a class="item-play" href="javascript:void(0);"><img src="./static/images/more.png"></a>
        </a>
    </li>
    <%});%>
</script>


<script type="text/template" id="J_temp-item-new">
    <% $.each(list, function(i, item){ %>
    <li class="item" sid="<%=item.id %>" md5="<%=item.md5 %>"  url="<%=item.url %>" tag="album" tagval="<%=item.tagval %>"  size="<%=item.filesize %>" type="<%=item.type %>" >
        <a class="item-a" href="javascript:void(0);">
			<span class="checkbox" value = '0'><img src="./static/images/xuanzekong.png"></span>
            <div class="title text-over"><%=item.name %></div>
            <div class="desc"><%=BEME.func.formatTime(item.song_time) %></div>
			<a class="item-play" href="javascript:void(0);"><img src="./static/images/feiji.png"></a>
        </a>
    </li>
    <%});%>
</script>

<!-- 这里是模板 -->
<script type="text/template" id="J_temp-albumitem">
    <% $.each(list, function(i, item){ %>
    <% if(i%3 == 0) {%>
    <ul class="list" >
        <%}%>
        <li><a class="item-a" href="<%=item.id %>">
            <div class="img-b">
                <img data-src="<%-BEME.func.imageUrl(item.url) %>" onerror="this.onerror=null; this.src='./static/images/moren04.jpg';" src="./static/images/moren04.jpg" alt="<%-item.name %>" class="lazy img-auto">
                <div class="info-box" style="display:block;margin:0;">
                    <div class="tag left"><%=item.cnt %></div>
                    <div class="tag right">0</div>
                </div>
            </div>
            <div class="name"><%=item.name %></div>
        </a></li>
        <% if(i%3 == 2) {%>
    </ul>
    <%}else if( i === list.length-1){ if(i%3 === 1){%>
    <li style="background: #fcf8f5"></li></ul>
    <%}else{  %>
    <li style="background: #fcf8f5"></li>
    <li style="background: #fcf8f5"></li></ul>
    <%}}%>
    <%});%>
</script>

<script type="text/javascript">
    BEME.initPage('albuminfo');
</script>

<script type="text/javascript">
//alert(document.getElementsByTagName('html')[0].innerHTML);
</script>
</body>
</html>