<html>
<head>
</head>
<body>

<article class="bear-page .main-page">
    <div class="banner">
        <img imgsrc="" src="./static/images/banner06.jpg" alt="" class="img-cover">
    </div>
	

    <div class="recommend">
        <p>小囧熊和它的伙伴们（飞行狗、面包猪、企鹅船长）生活在一个叫做“南方土豆”的小岛上。</p>
		<p>贝美时光说邀请小囧熊和他的朋友们，在每周三、周六，来教宝贝学英语啦，常用的单词和句子融在每期杂志的儿歌中，乐趣无边。</p>
    </div>
	
	
	<div class="members">
		<div class="title"><a>小囧熊家族成员介绍</a></div>
		<ul class="person-list">
		  <li>
			<div style="position: relative;">
			   <div class="name"><a style="border-top:none;">小囧熊</a></div>
			   <div class="detail">
				 <div>角色定位：<span>一只肉嘟嘟的白色小肥熊</span></div>
				 <div>职业：<span>"吱吱叫"面包店的店员</span></div>
				 <div>性格特点：<span>囧、憨、天然呆</span></div>
				 <div>动作特点：<span>憨态可掬</span></div>
				 <div>语言特点：<span>慢吞吞、有点小结巴</span></div>
				 <div>爱好：<span>吃啵啵糖</span></div>
				 <div>梦想：<span>有吃不完的啵啵糖</span></div>
			   </div>
			   <div class="img-div"> <img  src="./static/images/xiaojiongxiong-1.png" alt="" > </div>
		   </div>
		   <div class="show-preson">查看更多成员</div>
		  </li>
		  <div class="show-hide-all">
			  <li>
			   <div class="name"><a style="border-top:none;">飞行狗</a></div>
			   <div class="detail">
				 <div>职业：<span>经营蔬菜农村，有架自己的飞机，会用飞机给自己的农场灌溉。</span></div>
				 <div>性格特点：<span>欢快、闲不住</span></div>
				 <div>动作特点：<span>肢体语言丰富、动作滑稽</span></div>
				 <div>语言特点：<span>爱说话</span></div>
				 <div>爱好：<span>玩</span></div>
			   </div>
			   <div class="img-div"> <img  src="./static/images/gou.png" alt="" > </div>
			  </li>
			  <li>
			   <div class="name"><a style="border-top:none;">面包猪</a></div>
			   <div class="detail">
				 <div>职业：<span>'吱吱叫'面包店的老板</span></div>
				 <div>性格特点：<span>憨厚</span></div>
				 <div>动作特点：<span>普通</span></div>
				 <div>语言特点：<span>普通</span></div>
				 <div>爱好：<span>制作美食</span></div>
			   </div>
			   <div class="img-div"> <img  src="./static/images/zhu.png" alt="" > </div>
			  </li>
			  <li>
				<div style="position: relative;">
				   <div class="name"><a style="border-top:none;">企鹅船长</a></div>
				   <div class="detail">
					 <div>职业：<span>来自南极，“冰斗儿鱼号”的船长，发明家</span></div>
					 <div>性格特点：<span>热情、喜欢冒险</span></div>
					 <div>动作特点：<span>“制作一架飞机？哦你说的没错，我来试试",嗯...我想一下，好嘞，伙计们，大家回去准备准备，今晚我们就出发</span></div>
					 <div>爱好：<span>原来喜欢驾着自己的大船四处旅游，自从来了“南方土豆”，就爱上了这里，不准备走了。</span></div>
				   </div>
				   <div class="img-div"> <img  src="./static/images/qie.png" alt="" > </div>
				 </div>  
				  <div class="hide-preson">点击收起</div>
			  </li>
		  </div>
		</ul>
	</div>
	

    <div class="play-other">
        <div class="title">更多小囧熊杂志</div>
        <ul id="J_list-box">
			<li class="item">
				<div class="title-num">第三集(1月4日)：Drive my car</div>
				<div class="key">关键词： car drive red</div>
			</li>
			<li class="item">
				<div class="title-num">第二集(1月4日)：Drive my car</div>
				<div class="key">关键词： car drive red</div>
			</li>
			<li class="item">
				<div class="title-num">第一集(1月4日)：Drive my car</div>
				<div class="key">关键词： car drive red</div>
			</li>
        </ul>
    </div>
	<div>
		<ul class="page-list">
			<li><a style="margin:0;">第1-10期</a></li>
			<li><a>第11-20期</a></li>
			<li><a style="margin:0;float:right;">第21-30期</a></li>
			<li><a style="margin:0;">第31-40期</a></li>
			<li><a>第41-50期</a></li>
		</ul>
	</div>
	<div class="album-list catecontent-item ">
		<div class="title">小囧熊儿歌专辑</div>
		<ul class='list' id ="album_list">
		</ul>
		
		
	</div>
	<div class="verson">正版授权：北京欧蓝达文化传播有限公司</div>
	<div class="share_weixin"></div>
	<div class="footer-weixin" style="display:none;">
		 <img src="./static/images/app-header.png" class="app">
		 <span class="text">宝宝爱听,贝美时光说</span>
		 <a class="download" href="http://www.bemetoy.com/download/download.html" >点击下载</a>
	</div>
</article>

<script type="text/template" id="J_temp-item-song">
    <% $.each(list, function(i, item){ %>
    <li class="music-list" sid="<%=item.id %>" md5="<%=item.md5 %>"  url="<%=item.url %>" tag="ip" tagval="<%=item.tagval %>"  size="<%=item.filesize %>" type="<%=item.type %>" >
		<a class="title"><%=item.name %><span class="push-song"> 推送给玩具</span></a>
    </li>
    <%});%>
</script>


<!-- 这里是模板 -->
<script type="text/template" id="J_temp-item">
    <% $.each(list, function(i, item){ %>
    <li class="item" >
		<a href="#!m=bemebearinfo&id=<%=item.id %>&type=<%=item.type %>">
			<img src="<%=item.url %>">
			<div class="title-num text-over"><%=item.content %></div>
			<div class="key">更新日期：<%=item.question %></div>
		</a>
    </li>
    <%});%>
</script>

<script type="text/template" id="J_temp-item-album">
    <% $.each(list, function(i, item){ %>
		 <% if(i%2 == 0) {%>
			<li>
		<%}else{%>
			<li style='float:right'>
		<%}%>
			<a class="item-a" href="<%=item.id %>" id="<%=item.album_id %>">
			<div class="img-b">
				<img imgsrc="" src="<%=item.url %>" alt="<%=item.name %>" class="img-auto">
			</div>
			<div class="name text-over"><%=item.name %></div>
			</a>
		</li>
    <%});%>
</script>

<script type="text/javascript">
		function GetQueryString(name)
		{
			 var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
			 var r = window.location.search.substr(1).match(reg);
			 if(r!=null)return  r[2]; return null;
		}
		var weixin = GetQueryString('weixin');
		console.log(weixin);
		if(weixin == 1){
			$('.footer-weixin').show();
		}
</script>

<script type="text/javascript">
    BEME.initMinPage('bemebearindex');
</script>
</body>
</html>