<html>
<head>
<meta charset="UTF-8">
<meta name='format-detection' content='telephone=no'>
<meta name='viewport' content='width=device-width, minimum-scale=1.0, maximum-scale=1.0'>
<title>test</title>
<script type="text/javascript" src="../static/lib/zepto-1.1.6.min.js"></script>
<script type="text/javascript" src="../static/lib/require.js"></script>
<script type="text/javascript" src="../static-src/js/main.js"></script>

<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<style type="text/css">
/*.main-page{background: url('../static/images/pages/main.jpg') no-repeat 0 0; background-size: 100% auto; height: 2000px;}*/
</style>
</head>
<body>

<article class="comm-page main-page">
    <ul class="menu-box">
        <li><a class="item-a m1-btn" href="#!m=fmindex">
            电台节目</a>
        </li>
        <li><a class="item-a m2-btn" href="#!m=albummain">
            专辑分类</a>
        </li>
        <li><a class="item-a m3-btn" href="#!m=ranking">
            点播排行</a>
        </li>
        <li><a class="item-a m4-btn" href="#!m=myhistory">
            点播足迹</a>
        </li>
    </ul>

    <section class="content-item" id="J_custom-box">
        <div class="title">为宝宝定制</div>
        <div class="desc"></div>
        <ul class="list"></ul>
    </section>
    
    <div class="otherlisten-title">其他小朋友正在听</div>
    <section class="catecontent-list" id="J_cate-box"></section>

    <section class="content-item recommfm-box comm-fmitem" style="display:none;">
        <div class="title-box">
            <div class="left title">热门电台</div>
            <a href="#!m=fmindex" class="right item-a more-btn more">更多</a>
        </div>
        
        <ul class="fmlist" id="J_fm-box"></ul>
    </section>
</article>

<!-- 这里是模板 -->
<script type="text/template" id="J_temp-customitem">
<% $.each(list, function(i, item){ %>
    <li><a class="item-a" href="#!m=albuminfo&id=<%=item.id %>">
        <div class="img-b">
            <img imgsrc="<%=BEME.func.imageUrl(item.url) %>" src="./static/images/moren04.jpg" alt="<%=item.name %>" class="img-auto">
            <div class="info-box">
                <div class="tag left"><%=item.cnt %></div>
                <div class="tag right">0</div>
            </div>
        </div>
        <div class="name text-over"><%=item.name %></div>
    </a></li>
<%});%>
</script>

<script type="text/template" id="J_temp-cateitem">
<% $.each(list, function(i, item){ %>
<div class="content-item catecontent-item catecontent-item<%=i %>">
    <div class="title-box">
        <div class="left title title-b"><%=item.name %></div>
        <a href="<%=item.url %>" class="right item-a more-btn more">更多</a>
    </div>
    <ul class="list">
        <% $.each(item.album_list, function(ii, info){ %>
        <li><a class="item-a" href="#!m=albuminfo&id=<%=info.id %>">
            <div class="img-b">
                <img imgsrc="<%=BEME.func.imageUrlHead(info.url) %>" src="./static/images/moren04.jpg" alt="<%=info.name %>" class="img-auto">
                <div class="info-box">
                    <div class="tag left"><%=info.cnt %></div>
                    <div class="tag right">0</div>
                </div>
            </div>
            <div class="name text-over"><%=info.name %></div>
            <div class="name-desc">共<%=info.sid.split(',').length %>首</div>
        </a></li>
        <%});%>
    </ul>
</div>
<%});%>
</script>

<script type="text/template" id="J_temp-fmitem">
<% $.each(list, function(i, item){ %>
<li class="fmitem">
    <a href="#!m=fminfo&id=<%=item.id %>" class="item-a more-btn">
    <div class="img-b">
        <img imgsrc="<%=BEME.func.imageUrlStationHead(item.head_url,0) %>" src="./static/images/moren_s.jpg" alt="<%=item.name %>" class="img-auto">
    </div>
    <div class="info">
        <div class="name text-over"><%=item.name %></div>
        <div class="subnum">订阅&nbsp;<%=item.subscription_num %></div>
        <div class="uptime text-over"><%=item.is_regular == 1?"定时更新":"每"+BEME.func.formatPushTime(item.push_time)+"更新"%></div>
    </div>
    </a>
</li>
<%});%>
</script>

<script type="text/javascript">
    BEME.initPage('main');
</script>

</body>
</html>