html,body{min-height: 100%; -webkit-user-select:none; -webkit-touch-callout: none; -webkit-overflow-scrolling: touch;overflow-x:hidden;width:100%;}
html,body,h1,h2,h3,p,ul,li,input{padding: 0; margin: 0;}
html{ font-size: 14px;}
body{font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif; color: #333; font-size: 13px; min-height:100%; -webkit-font-smoothing:antialiased;}
input,textarea,select,option{font-family: Helvetica,Arial,sans-serif, sans-serif; color: #333; font-size: 13px;}
a{text-decoration: none; color: #5b728f;}
ul{list-style: none;}
.left{float: left;}
.right{float: right;}
.bk{display: block; height: 100%;}
.clearfix:before,.clearfix:after{content:''; display:table}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
.textover{overflow: hidden; text-overflow:ellipsis; white-space:nowrap;}

.mbox{width: 6.7rem; margin: 0 auto;}
.header{height: 0.65rem; background-color: #12324a; color: #fff; position: relative;}
.header a{color: #fff;}
.header .particles-js-canvas-el{position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
.footer{height: 40px; line-height: 40px; font-size: 10px; color: #999;    text-align: center;overflow:hidden;width:100%;}

.page .nav-box{font-size: 17px; height: 0.65rem; position: absolute;width:100%; z-index: 10; top:0;    left: 0;right: 0;}
.page .nav-box .logo{height: 100%; background: url('../images/logo.png') no-repeat center center;width:1.8rem; left:0.4rem;background-size: 100% auto; text-indent: -1000px; position: relative; top: 0.05rem;}

.page .nav-list{position: absolute; right: 0; top: 0; min-width: 1.2rem; height: 0.65rem; overflow: hidden;}
.page .nav-list .nav{height: 0.65rem; line-height: 0.65rem; overflow: hidden; font-size: 12px; color: #fff; text-align: center;}
.page .nav-list .nav a{display: block; color: #fff;}
.page .nav-list .icon{background: url('../images/nav-icon.png') no-repeat center center; background-size: 30% auto;}
.page .nav-list .nav1{line-height: 0.32rem;}
.page .on{ background: rgba(0,0,0,0.5); height: 3.25rem; -webkit-transition: height 0.3s ease-in-out;}
.page .nav-list .nav .cur{background: #000; color: #57b7ff;}

/*.page-index{height: 100rem; background: url('../images/page-index.jpg') no-repeat center 60px; background-size: 100%;}*/
.page-index{padding-bottom: 0.5rem;}
.page-index .header{height: 3.95rem; background-image: url('../images/index-header-bg.jpg'); background-repeat: no-repeat; background-position: center center; background-size: 100% 100%;}

.page-index .title-box{text-align: center; font-size: 18px; line-height: 20px; margin-top: 0.4rem;}
.page-index .title-box .title{ display: inline-block; padding: 0 0.6rem;}
.page-index .title-box .line{height: 1px; width: 1rem; background: #d6d6d6; display: inline-block; vertical-align: middle; }

/*合作伙伴*/
.page-index .funiot-box{background-color: #f7f7f7; overflow: hidden;}
.page-index .funiot-box .desc{line-height: 16px; font-size: 12px; width: 6rem; margin: 5px auto 0 auto;}
.page-index .funiot-box .pic{text-align: center; margin-top: 10px;}
.page-index .funiot-box .text{text-align: center; line-height: 18px; font-size: 13px; margin: 0.02rem 0 0.3rem 0;}
.page-index .link-list{width: 6.6rem; margin: 0.3rem auto 0 auto;}
.page-index .link-list li{float: left; width: 1.3rem; height: 1.3rem; border-right: 1px #e5e5e5 solid; border-bottom: 1px #e5e5e5 solid; text-align: center;}
.page-index .link-list .nrb{border-right: 0;}
.page-index .link-list .nbb{border-bottom: 0;}

.page-index .link-list .lb{display: block; width: 100%; height: 100%;}
.link-1{background-image: url('../images/link/11-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
.link-2{background-image: url('../images/link/12-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
.link-3{background-image: url('../images/link/1-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
.link-4{background-image: url('../images/link/2-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
.link-5{background-image: url('../images/link/3-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
.link-6{background-image: url('../images/link/4-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
.link-7{background-image: url('../images/link/5-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
.link-8{background-image: url('../images/link/7-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
.link-9{background-image: url('../images/link/8-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
.link-10{background-image: url('../images/link/9-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
/*.link-1{background-image: url('../images/link/1-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
.link-2{background-image: url('../images/link/2-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
.link-3{background-image: url('../images/link/3-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
.link-4{background-image: url('../images/link/4-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
.link-5{background-image: url('../images/link/5-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
.link-6{background-image: url('../images/link/6-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
.link-7{background-image: url('../images/link/7-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
.link-8{background-image: url('../images/link/8-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
.link-9{background-image: url('../images/link/9-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}
.link-10{background-image: url('../images/link/10-hover.png'); background-size:70% auto; background-position:center center; background-repeat:no-repeat;}*/

/*五个理由*/
.page-index .reason-box{background: #0b3555; color: #fff; margin-top: 0.5rem; overflow: hidden; padding-bottom: 0.8rem;}
.page-index .reason-box .title-box{margin-top: 0.4rem; height: auto;}
.page-index .reason-box .title-box .title{width: 5rem; padding: 0 0.15rem; line-height: 22px;}
.page-index .reason-box .title-box .line{vertical-align: top; margin-top: 12px; width: 0.9rem;}
.page-index .reason-box .list{width: 5rem; margin-top: 0.2rem;}
.page-index .reason-box li{margin-top: 0.2rem; font-size: 12px;}
.page-index .reason-box .key{float: left; height: 1.2rem; width: 1.2rem; line-height: 1.2rem; border:2px #57b7ff solid; border-radius: 1.1rem; text-align: center; font-size: 12px;}
.page-index .reason-box .desc{float: right; width: 3.3rem; line-height: 0.45rem;}


/*平台能力*/
.page-index .platform-box{overflow: hidden; padding-bottom: 1rem;}
.page-index .platform-box .list{}
.page-index .platform-box .item{margin-top: 0.35rem;}
.page-index .platform-box .item .title{font-size: 12px; line-height: 16px; font-weight: bold; text-align: center;}
.page-index .platform-box .item .desc{line-height: 16px; text-align: center; font-size: 12px;}
.page-index .platform-box .icon{text-align: center;}
.page-index .platform-box .icon img{width: 0.7rem;}

.page-index .advantage-box{}
.page-index .advantage-box img{width: 100%;}

.page-index .news-box{overflow: hidden; padding-bottom:0.6rem; background: url('../images/news-bg.jpg') no-repeat center bottom; background-size: 100% auto;}
.page-index .news-box .list{margin-top: 0.1rem;}
.page-index .news-box .list a{display: block; color: #000;}
.page-index .news-box .item{margin-top: 0.2rem; background: #e5e5e5; padding-right: 0.2rem;}
.page-index .news-box .item .pic{width: 2.4rem; height: 2.4rem; float: left;}
.page-index .news-box .item .pic img{width: 100%; height: 100%;}
.page-index .news-box .item .info{float: right; width: 3.75rem;}
.page-index .news-box .item .title{height: 0.5rem; margin-top: 0.2rem; line-height: 0.5rem; overflow: hidden; font-size: 14px;}
.page-index .news-box .item .desc{margin-top: 6px;line-height: 0.4rem; font-size: 12px; height: 1.2rem; overflow: hidden;}

.page-funiot .header{height: 4.13rem; background-image: url('../images/funiot-header-bg.jpg'); background-repeat: no-repeat; background-position: center top; background-size: auto 100%;}
.page-funiot .gray{background: #e5e5e5;}
.page-funiot .processbox{width: 2.4rem; height: 2.2rem; margin: 1.2rem auto 0 auto; text-align: center;position: absolute;    top: 0.5rem;left: 2.55rem;}
.page-funiot .processbox img{width: 2.4rem;}
.page-funiot .centerbox .title{display: none; font-size: 13px; line-height: 15px; font-weight: bold; margin-top: 0.1rem;}
.page-funiot .centerbox .desc{display: none;font-size: 12px; line-height: 15px; margin-top: 5px; height: 18px;}
.mbox1{padding: 0 0.3rem;margin:0;overflow:hidden;width:90%;display:inline-block;}
.page-funiot .itembox{padding: 0 0 0.35rem 0; overflow: hidden;background: #f2f2f2;}
.page-funiot .itembox .title{text-align: center; font-size: 13px; line-height: 20px; font-weight: bold; margin-top: 0.26rem;}
.page-funiot .itembox .desc{font-size: 12px; line-height: 16px; margin-top: 5px;}
.page-funiot .itembox .imgbox{margin-top: 0.2rem; text-align: center;}
.page-funiot .itembox .imgbox img{width: 70%;}
.page-funiot .itembox1{background: url('../images/funiot-flag.png') #f2f2f2 no-repeat center top; padding-top: 0.2rem;}
.page-funiot .gray{background: #e5e5e5;}

.page-service .banner-box{width: 100%; overflow: hidden; background: #12324a;}
.page-service .banner-box img{width: 100%;}
.page-service .content-box{padding-bottom: 0.5rem; overflow: hidden; padding-top: 0.7rem; background: url('../images/funiot-flag.png') no-repeat center top;}
.page-service .box-2{padding: 0.5rem 0 0.2rem 0;}
.page-service .box-3, .page-service .box-4, .page-service .box-5{padding-top: 0.5rem;}
.page-service .box-outter .title{text-align: center;}
.page-service .box-outter h2{display: inline-block; padding: 0 0.25rem; line-height: 30px; background: #57b7ff; color: #fff; font-size: 15px;}
.page-service .box-outter .desc{line-height: 20px; font-size: 13px; margin-top: 10px;}
.page-service .box-outter .pic{margin-top: 0.3rem; text-align: center; }
.page-service .box-outter .pic img{width: 80%;}
.page-service .box-5 .t{padding-bottom: 10px;}
.page-service .box-5 b{color: #57b7ff; display: inline-block; line-height: 20px;}
.page-service .box-5 b i{display: inline-block; float: left; margin-top: 3px; height: 14px; width: 14px; margin-right: 5px; border-radius: 20px; color: #fff; background: #57b7ff;}

.page-service .box-item{background: #fafafa; margin-bottom: 0.3rem;}
.page-service .box-gray{background: #f2f2f2;}
.page-service .box-item{font-size: 13px; }
.page-service .box-item .name{color: #57b7ff; font-size: 14px; text-align: center; line-height: 25px; padding-top: 10px;}
.page-service .box-item .desc{line-height: 22px; padding-bottom: 0.2rem;}
.page-service .box-item .desc .c{text-indent: 2em;}
.page-service .box-item i{display: inline-block; height: 20px; width: 20px; text-align: center; line-height: 20px; border-radius: 20px; color: #fff; background: #57b7ff; font-style: normal; margin-right: 5px;}
.page-service .box-item .mbox{padding-bottom: 0;}

.page-contact{background:url('../images/contact-bg.jpg') no-repeat center 4rem; background-size: 100% auto;}
.page-contact .content{margin:1rem 0 0 0;}
.page-contact .content h2{line-height: 30px; border-bottom: 1px #57b7ff solid; width: 4.2rem; font-size: 14px; font-weight: normal;}
.page-contact .content .item{margin-top: 0.4rem; line-height: 20px; font-size: 13px;}
.page-contact .content .item span{color: #57b7ff;}

.page-newslist .detail-box{padding-bottom: 30px;}
.page-newslist .detail-box .title{font-size: 16px; line-height: 24px; margin: 13px 0; }
.page-newslist .detail-box .info{font-size: 12px; color: #666; line-height: 20px;}
.page-newslist .detail-box .content{line-height: 22px; font-size: 13px; margin-top: 10px;}
.page-newslist .detail-box .content img{max-width: 100%; margin: 10px 0;}